/*
Table of Contents

1. Global Styling
   Primary
   Neutral
   Typography
2. Content Styling
	Nav Burger
	Nav Modal
	Background Assets
	Attribution
*/

/* ============
   1. Global Styling
   ============ */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  /* Primary */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --gray-light: hsl(0, 0%, 98%);
  --grayish-blue: hsl(235, 5%, 55%);

  /* Typography */
  --light-bold: 300;
  --medium-bold: 400;
}

.alignment + .alignment {
  padding: 7%;
}

.logo {
  width: auto;
  height: 1.1em;
}

body {
  font-family: "Public Sans";
}

p,
.carousel-card span {
  color: var(--grayish-blue);
  font-weight: var(--light-bold);
}

.subtitle {
  padding: 2em 0 1.5em 0;
  line-height: 1.4;
}

/* ============
   2. Content Styling
   ============ */

/* Navigation */
header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0.75em 1.5em;

  background: var(--white);
}

nav {
  flex: 2;
  max-width: 40%;
  margin: 0 auto;

  color: var(--grayish-blue);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links li:hover {
  color: black;
}

/* Nav Burger (hidden in Desktop) */
.nav-burger,
.nav-burger-close {
  opacity: 0;
}

/* Nav Modal (hidden in Desktop) */
.nav-modal {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.nav-modal-links {
  list-style: none;
  color: var(--dark-blue);
}

/* CTA Buttons */
.request {
  padding: 0.75em 2em;
  border: none;
  border-radius: 100px;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: var(--white);
  font-size: 0.85rem;
  cursor: pointer;
}

.request:hover {
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
/*  */

/* Hero Image */
.hero {
  padding: 5em 5em;
  height: 80vh;

  background: var(--gray-light);
}

.hero-content {
  display: flex;
  padding: 6em 0;
}

.hero-text {
  flex: 0.5;
}

.hero-title {
  font-size: 35px;
  max-width: 15ch;
  font-weight: var(--medium-bold);
}

.hero-text .subtitle {
  max-width: 42ch;
}

/* .hero-bg-img {
  width: 40%;
  height: auto;
  background: lightgreen;
} */

.hero-landing-img {
  position: absolute;
  z-index: 1;
  top: -1.75em;
  right: -6em;
  width: auto;
  height: 43em;

  overflow-x: hidden;
}

/*  */

/* Features Section */
.features,
.carousel {
  display: flex;
}

.features-card + .features-card,
.carousel-card + .carousel-card {
  margin-left: 2em;
}

.features-card-img {
  padding-top: 3.5em;
  height: auto;
  width: 4.25em;
}

h2,
h3,
h4 {
  font-weight: var(--light-bold);
}

h3 {
  padding-top: 1em;
}

/* Blog Section */
.blog-section {
  background: var(--gray-light);
}

.carousel {
  padding-top: 3em;
}

.carousel-card {
  border-radius: 5px;
}

.carousel-card-img {
  display: block;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 45%;
  width: 100%;
}

.carousel-card-text {
  padding: 1.35em 1.25em;

  background: var(--white);
}

.carousel-card-subtitle,
cite {
  font-size: 14px;
}

.carousel-card-subtitle {
  padding: 1em 0;
}

.carousel-card-text span {
  display: block; /* removes white space under images - due to descender allowance (see https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image) */
  padding-bottom: 1em;

  font-size: 12px;
}

/* Footer */
footer {
  background: var(--dark-blue);
  color: var(--white);
}

footer,
.credits,
.col-1 {
  display: flex;
}

footer,
.credits,
.col-1 {
  justify-content: space-between;
}

.col-1,
.credits {
  flex-direction: column;
}

.site-map-link {
  color: var(--white);
}

.col-2 .site-map-link + .site-map-link,
.col-3 .site-map-link + .site-map-link {
  padding-top: 1em;
}

.credits {
  align-items: flex-end;
}

cite {
  color: var(--grayish-blue);
}
/*  */

/* Social Media Links */
.social-media-links {
  cursor: pointer;
}

.social-media-img {
  padding: 0.35em;
}

.social-media-links img:hover {
  background: var(--grayish-blue);
  border-radius: 2px;
}
/*  */

/*  Attribution */
.attribution {
  padding: 2em 0;
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*  */

/* ============
   3. Media Queries (Mobile)
   ============ */

/* Adjust button inner text wrapping issue */
@media (max-width: 900px) {
  /* Viewport Container */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h2 {
    text-align: center;
  }

  /* Navigation Modal */
  nav,
  header .request {
    opacity: 0;
  }

  header {
    position: fixed;
    top: 0;
    padding: 0.75em 1.5em;
    width: 100vw;
  }

  .nav-modal,
  .nav-burger {
    opacity: 1;
  }

  .nav-burger {
    height: auto;
    width: 35px;

    cursor: pointer;
  }

  .nav-modal {
    top: 4.5rem;
    left: 0;
    right: 0;
    margin: auto 7em;

    background: var(--white);
    border-radius: 20px;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-modal-links li {
    padding: 1.5em 0;
    text-align: center;
    color: var(--grayish-blue);
  }

  .nav-modal-links li:hover {
    color: var(--dark-blue);
  }

  .modal-active {
    transform: translateX(190%);
  }
  /*  */

  /* Hero Section */
  .hero,
  .hero-content,
  .hero-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .hero {
    width: 100%;
    height: 70vh;

    background: var(--white);
  }

  .hero-text {
    align-items: center;
    margin-top: 15em;
    padding-top: 5em;
  }

  .hero-title,
  .subtitle {
    text-align: center;
  }

  .hero-landing-img {
    position: absolute;
    z-index: 1;
    top: -170px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    width: 21em;
  }

  /* Features Section */
  .features,
  .features-section,
  .features-card,
  .carousel,
  footer,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .features-section {
    margin-top: 16em;
    padding-top: 20em;

    background: var(--gray-light);
  }

  .features-card + .features-card,
  .carousel-card + .carousel-card {
    margin: 0 auto;
    padding: 1.5em;
  }

  .subtitle {
    padding: 2em 0 1.5em 0;
  }

  /* Blog Section */
  .carousel-card-img {
    height: 15em;
    width: 70vw;
    margin: 0 auto;
  }

  .carousel-card-text {
    padding: 1.35em 1.25em;
    width: 70vw;

    background: var(--white);
  }

  /* Footer Section */
  footer > * {
    text-align: center;
  }

  .site-map-link {
    padding-top: 1em;
  }

  .site-map-link:last-child {
    padding-bottom: 1em;
  }

  .col-1,
  .credits {
    height: 4.5em;
    margin: 1em 0;

    justify-content: space-between;
  }
}
/*  */
